::-webkit-scrollbar {
  display: none;
}
.note-board {
  list-style-type: none;
  padding: 1rem 0;
  height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  overflow-y: scroll;
  justify-content: start;
  /* border: 1px solid black; */
}

.note-list {
  margin: auto;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 10px 40px 0 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #FEF285;
  height: 300px;
  max-width: 400px;
  min-width: 400px; 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.note-add-list {
  margin: auto;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 10px 40px 0 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #F8F8F8;
  height: 300px;
  max-width: 400px;
  min-width: 400px; 
}
.note-add{
  font-size: 300px;
  margin: auto;
  padding-left: 1.3rem;
  
  display: block;
  color: darkgray;
  
}



.note-title-strong {
  font-size: 30px;
  color: #333;
}

.note-content {
  font-size: 16px;
  color: #666;
  white-space:pre-wrap;
  height: 150px;
  overflow-y: scroll;
  margin: 0.3rem 0 0 0;
}

.list-button {
  cursor: pointer;
  border: none;
  background-color: rgba(255, 155, 109, 60%);
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  width: 80px;

}
.button-container{
  display: flex;
  justify-content: space-evenly; 
  
}
.list-button:hover {
  background-color: rgba(255, 155, 109, 80%);
}

/* .addNote{
  margin-left:auto ;
  margin-right: 15px;
  margin-bottom: 15px;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
} */
/* NoteForm style */
.note-form{
  text-align: center;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 10px 0px;
  z-index: 3000;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%,-50%);
  background-color: #FEFEFE;
  min-height: 350px;
  max-height: 350px;

}

.note-title,.note-textbox {
  max-width: 300px;
  min-width: 300px;
  border: 1.5px solid black;
  border-radius: 15px;
  font-size: 18px;
  overflow-y: scroll;
  white-space:pre-wrap
}
.note-textbox{
  min-height: 130px;
  margin-bottom: 10px;
}


.note-label {
  font-weight: bold;
  font-size: 30px;
  display: block;
  font-weight: bold;
  /* margin-bottom: 5px; */
}

.title-input,
.content-textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.bottomBtn {
  padding: 8px 16px;
  border: none;
  border-radius: 35px;
  background-color: rgb(245, 240, 240);
  color: black;
  cursor: pointer;
  width: 80px;
  margin: 0px 15px;
}

.bottomBtn:hover {
  background-color: #FEF285;
}

.loading{
  font-size: 40px;
  text-align: center;
  height:80vh ;
  padding-top: 30vh;
}
.note-time{

  text-align: start;
  font-size: 14px;
  border-bottom: 1px outset gray;
}